<div class="container">


    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                {{#if brandExists}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Brand already exists!</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/if}}
                <h4 class="card-title">Add New Brand</h4>
                {{!-- <p class="card-description"> Basic form elements </p> --}}
                <form class="forms-sample" method="POST" action="/admin/addCategory">

                    <div class="form-group">
                        <label for="exampleInputCategory1">Category Name</label>
                        <input type="text" class="form-control" id="exampleInputName1" placeholder="Category Name"
                            name="categoryName" required>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPrice1">Add brand</label>
                        <input type="text" class="form-control" id="exampleInputSubcategory1" placeholder="Brand"
                            name="brand" required>
                    </div>

                    <div id="submitdiv">
                        <button type="submit" class="btn btn-gradient-primary mr-2">Add</button>
                        <button class="btn btn-light" type="reset" value="Reset">Cancel</button>
                    </div>
                <h3 class="mt-5">View existing brands</h3>
                </form>
                {{#each brands}}
                <ul class="list-group mt-5">
                    <li class="list-group-item active">CATEGORY NAME : {{this.categoryName}}</li>
                  
                       <table class="table table-hover">
                           {{#each brand}}
                        <tbody>
                        <tr>
                          <td>{{this}}</td>
                          <td><a class="btn btn-sm btn-success">View products</a></td>
                        </tr>
                    </tbody>
                    {{/each}}   
                    </table>

                </ul>
                {{/each}}
            </div>
        </div>
    </div>
</div>