<div class="container">



    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <div>
                Order placed<br>December 14,2016
            </div>
            <div>
                Total<br>Rs.1000
            </div>
            

        </div>
        <div class="d-flex justify-content-between">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <div>
                    <img src="/productimages/fileinputimage4-1639550695726.jpg" class="img-fluid max-width-100 p-1">
                    <span>Rs.70000</span>
                </div>

                <div>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Order again</a>
                    <a href="#" class="btn btn-danger">Cancel order</a>
                </div>


            </div>

            <div class="mr-auto">
                Ship to<br>Jiso Chacko
            </div>
        </div>


    </div>

</div>